.mydiv{
    color: papayawhip;
}
.jumbotron {
    background-color:palevioletred;
}
h2{
    text-transform: uppercase;
    color:#303030;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:bold;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
 color: #303030;
 font-size: 19px;
 font-family: inherit;
}
.fa-signal,.fa-globe{
    color: rgb(212, 142, 142);
    font-size: 200px !important;
}
.vision{
    color: #818181
}
.fa-power-off{
    color: rgb(212, 142, 142);
    font-size: 100px !important;
}
.fa-heart,.fa-shopping-bag,.fa-leaf,.fa-certificate,.fa-wrench{

        color: rgb(212, 142, 142);
        font-size: 100px !important;
    }
    .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: rgb(212, 142, 142);
      }
      
      .carousel-indicators li {
        border-color:rgb(212, 142, 142);
      }
      
      .carousel-indicators li.active {
        background-color: rgb(212, 142, 142);
      }
      
      .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
      }
      
      .item span {
        font-style: normal;
      }

    .bg{
        background-color: lightgrey;
    }
    .btn-secondary{
        background-color:palevioletred;
    }
    .panel {
        border: 1px solid palevioletred;
        border-radius:0;
        transition: box-shadow 0.5s;
      }
      
      .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }
      
      .panel-footer .btn:hover {
        border: 1px solid palevioletred;
        background-color: #fff !important;
        color: palevioletred;
      }
      
      .panel-heading {
        color: #fff !important;
        background-color: palevioletred !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      
      .panel-footer {
        background-color: #fff !important;
      }
      
      .panel-footer h3 {
        font-size: 32px;
      }
      
      .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
      }
      
      .panel-footer .btn {
        margin: 15px 0;
        background-color:rgb(212, 142, 142);
        color: #fff;
      }


