.jumbotron {
    background-color:#f4511e; 
}
h2{
    text-transform: uppercase;
    color:#303030;
    margin-bottom: 30px;
}
h4{
 color: #303030;
 font-size: 19px;
 font-family: inherit;
}
.fa-signal,.fa-globe{
    color: #f4511e;
    font-size: 200px !important;
}
.vision{
    color: #818181
}
.fa-power-off{
    color: #f4511e;
    font-size: 100px !important;
}
.fa-heart,.fa-shopping-bag,.fa-leaf,.fa-certificate{

        color: #f4511e;
        font-size: 100px !important;
    }
    

